body {
    /* display: flex; */
    background-color: blueviolet;
    color: black;
    font-size: 30px;
}

.container {
    text-align: center;
}

.userScore {
    font-size: 50px;
}

.computerScore {
    font-size: 50px;
}

 .computerOptions {
    display: flex;
    justify-content: center;
    flex-direction: row;
} 

.computerOption {
    padding: 20px;
    
}
button {
    font-size: 30px;
    border-radius: 10px;
}

button:hover {
    background-color: blue;
    transition-duration: 0.5s;
}

/* .resultBox {
    
} */

.result-container {
    border-radius: 10px;
    background-color: lightblue;
    margin-left: 100px;
    margin-right: 100px; 
    font-size: 60px;
    height: 150px;
}

/* h1, h2 {
    margin-top: 35px;
    font-size: 50px;
}  */
